@media (max-width: 575px) {
	#menu {
		width: 20%;
		padding: 5px ;
	}
	#menu a {
		font-size: 15px;
		padding-left: 0;
	}
	#menu h2 {
		padding-left: 0;
		font-size: 18px;
	}
	.vse {
		margin-left: 90px;
		max-width: 80%;
		margin-right: 0;
	}

	.r {
		font-size: 18px;
	}
	.primer img {
		width: 100%;
	}

	.person img {
		width: 100%;
	}
	.spisok {
		width: 25%;
	}
	.greyp {
		font-size: 30px;
	}

	.info{
		font-size: 25px;
	}

	.person {
		width: 80%;
		margin-right: 0;
		}

	.spisok a {
		font-size: 5px;
		padding: 2px;
		width: 100%;
	}
	.spisok	{
		max-width: 200px;
		display: block;
		margin: 0;
	}
	li	{
		width: 150px;
	}
	ul {
		display: block;
		margin-bottom: 20px;
	}
	.sulka {
		padding: 0;
	}

}